.main{
    display: flex;
    width: 98vw;
    height: 97vh;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
}

*{
    margin: 0;
    padding: 0;
}


.gb1.board,.gb2.board{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    width: 50%;
    height: 100%;


    font-size: 5rem;
}

.gb2.board>div{
    background-color: lightcoral;
}


.bd{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: aqua;
}

/* color for ships and attacks*/
.bd.ship{
    background-color: grey;
}


.gb2.bd.ship{
    background-color: grey;

}


.missedAttack{
    background-color: black;
}

.gb2.bd.missedAttack{
    background-color: black;
}

.gb1.bd.missedAttack{
    background-color: black;
}